.buttons-container {
   display: grid;
   grid-template-columns: repeat(4, 50px);
   grid-template-rows: repeat(5, 50px);
   gap: 5px;

   margin: 0 auto;

   box-sizing: border-box;
   padding-top: 5px;

   background-color: white;
}
